.coin-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  color: white;
  border-bottom: thin solid white;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.coin-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.coin-image {
  display: flex;
  align-items: center;
  height: 70%;
}

.coin-symbol,
.coin-price,
.coin-change,
.coin-market {
  font-weight: 500;
}

.coin-image,
.coin-name,
.coin-symbol,
.coin-price,
.coin-change,
.coin-market {
  margin-right: 1.2rem;
}

.coin-price::before,
.coin-market::before {
  content: '$';
  position: relative;
  right: 0.2rem;
}

.coin-change::after {
  content: '%';
}

.coin-change.red {
  color: rgb(248, 64, 64);
}

.coin-change.green {
  color: rgb(85, 252, 85);
}

.button-link {
  border: none;
  border-radius: 0.3rem;
  background-color: #3aafa9;
  color: white;
  padding: 0.8vh 1vw;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 200ms ease-out;
}

.button-link:hover {
  transform: scale(1.2);
}

@media (max-width: 1279px) {
  .coin-row {
    font-size: 1.1rem;
  }

  .coin-name {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .coin-row {
    flex-wrap: wrap;
    height: 6rem;
    padding: 0.3rem 0;
  }

  .coin-image {
    padding: 0;
    width: 2rem;
    height: auto;
  }

  .coin-row * {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .button-link {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .coin-name {
    font-size: 1.1rem;
  }

  .coin-row {
    justify-content: space-around;
  }
}