.coin-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.coin-image {
  display: flex;
  align-items: center;
  height: 3rem;
}

.coin-image img {
  height: 100%;
}

.coin-symbol,
.coin-price,
.coin-change,
.coin-market {
  font-weight: 500;
}

.coin-image,
.coin-name,
.coin-symbol,
.coin-price,
.coin-change,
.coin-market {
  margin-right: 1.2rem;
}

.coin-price::before,
.coin-market::before {
  content: '$';
  position: relative;
  right: 0.2rem;
}

.coin-change::after {
  content: '%';
}

.coin-change.red {
  color: rgb(248, 64, 64);
}

.coin-change.green {
  color: rgb(85, 252, 85);
}

.placeholder-item {
  display: none;
}

.button-link {
  border: none;
  border-radius: 0.3rem;
  background-color: #3aafa9;
  color: white;
  padding: 0.8vh 1vw;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 200ms ease-out;
}

.button-link:hover {
  transform: scale(1.2);
}


/* MEDIA QUERIES */

@media (max-width: 1279px) {
  .coin-name {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .button-link {
    margin: 0 30% 3rem 30%;
  }

  .coin-image,
  .coin-name,
  .coin-symbol,
  .coin-price,
  .coin-change,
  .coin-market {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .button-link {
    font-size: 1rem;
  }

  .coin-name {
    font-size: 1rem;
  }
}